In [3]:
import rqdatac
rqdatac.init()

c:\users\millet\miniconda3\envs\torch1.8-gpu\lib\site-packages\rqdatac\client.py:197: UserWarning: rqdatac is already inited. Settings will be changed.
  warnings.warn("rqdatac is already inited. Settings will be changed.", stacklevel=0)

In [4]:
from rqdatac import all_instruments

df = all_instruments(type='CS')

In [5]:
df.loc[df['symbol'].str.contains('茅台')]

,order_book_id,industry_code,market_tplus,symbol,special_type,exchange,status,type,de_listed_date,listed_date,sector_code_name,abbrev_symbol,sector_code,round_lot,trading_hours,board_type,industry_name,issue_price,trading_code,purchasedate
2527,600519.XSHG,C15,1,贵州茅台,Normal,XSHG,Active,CS,0000-00-00,2001-08-27,必需消费品,GZMT,ConsumerStaples,100.0,"09:31-11:30,13:01-15:00",MainBoard,酒、饮料和精制茶制造业,31.39,600519,NaN

In [6]:
df.loc[df['symbol'].str.contains('五粮液')]

,order_book_id,industry_code,market_tplus,symbol,special_type,exchange,status,type,de_listed_date,listed_date,sector_code_name,abbrev_symbol,sector_code,round_lot,trading_hours,board_type,industry_name,issue_price,trading_code,purchasedate
167,000858.XSHE,C15,1,五粮液,Normal,XSHE,Active,CS,0000-00-00,1998-04-27,必需消费品,WLY,ConsumerStaples,100.0,"09:31-11:30,13:01-15:00",MainBoard,酒、饮料和精制茶制造业,14.77,000858,NaN

In [7]:
df.loc[df['symbol'].str.contains('平安银行')]

,order_book_id,industry_code,market_tplus,symbol,special_type,exchange,status,type,de_listed_date,listed_date,sector_code_name,abbrev_symbol,sector_code,round_lot,trading_hours,board_type,industry_name,issue_price,trading_code,purchasedate
514,000001.XSHE,J66,1,平安银行,Normal,XSHE,Active,CS,0000-00-00,1991-04-03,金融,PAYH,Financials,100.0,"09:31-11:30,13:01-15:00",MainBoard,货币金融服务,40.0,000001,NaN

In [8]:
df.loc[df['symbol'].str.contains('招商银行')]

,order_book_id,industry_code,market_tplus,symbol,special_type,exchange,status,type,de_listed_date,listed_date,sector_code_name,abbrev_symbol,sector_code,round_lot,trading_hours,board_type,industry_name,issue_price,trading_code,purchasedate
2691,600036.XSHG,J66,1,招商银行,Normal,XSHG,Active,CS,0000-00-00,2002-04-09,金融,ZSYH,Financials,100.0,"09:31-11:30,13:01-15:00",MainBoard,货币金融服务,7.3,600036,NaN

In [9]:
df.loc[df['symbol'].str.contains('上汽集团')]

,order_book_id,industry_code,market_tplus,symbol,special_type,exchange,status,type,de_listed_date,listed_date,sector_code_name,abbrev_symbol,sector_code,round_lot,trading_hours,board_type,industry_name,issue_price,trading_code,purchasedate
2857,600104.XSHG,C36,1,上汽集团,Normal,XSHG,Active,CS,0000-00-00,1997-11-25,非必须消费品,SQJT,ConsumerDiscretionary,100.0,"09:31-11:30,13:01-15:00",MainBoard,汽车制造业,7.02,600104,NaN

In [10]:
df.loc[df['symbol'].str.contains('宇通客车')]

,order_book_id,industry_code,market_tplus,symbol,special_type,exchange,status,type,de_listed_date,listed_date,sector_code_name,abbrev_symbol,sector_code,round_lot,trading_hours,board_type,industry_name,issue_price,trading_code,purchasedate
2746,600066.XSHG,C36,1,宇通客车,Normal,XSHG,Active,CS,0000-00-00,1997-05-08,非必须消费品,YTKC,ConsumerDiscretionary,100.0,"09:31-11:30,13:01-15:00",MainBoard,汽车制造业,9.75,600066,NaN

In [11]:
df.loc[df['symbol'].str.contains('同仁堂')]

,order_book_id,industry_code,market_tplus,symbol,special_type,exchange,status,type,de_listed_date,listed_date,sector_code_name,abbrev_symbol,sector_code,round_lot,trading_hours,board_type,industry_name,issue_price,trading_code,purchasedate
2797,600085.XSHG,C27,1,同仁堂,Normal,XSHG,Active,CS,0000-00-00,1997-06-25,医疗保健,TRT,HealthCare,100.0,"09:31-11:30,13:01-15:00",MainBoard,医药制造业,7.08,600085,NaN

In [15]:
df.loc[df['symbol'].str.contains('恒瑞')]

,order_book_id,industry_code,market_tplus,symbol,special_type,exchange,status,type,de_listed_date,listed_date,sector_code_name,abbrev_symbol,sector_code,round_lot,trading_hours,board_type,industry_name,issue_price,trading_code,purchasedate
2076,600276.XSHG,C27,1,恒瑞医药,Normal,XSHG,Active,CS,0000-00-00,2000-10-18,医疗保健,HRYY,HealthCare,100.0,"09:31-11:30,13:01-15:00",MainBoard,医药制造业,11.98,600276,NaN

In [13]:
df.loc[df['symbol'].str.contains('张江高科')]

,order_book_id,industry_code,market_tplus,symbol,special_type,exchange,status,type,de_listed_date,listed_date,sector_code_name,abbrev_symbol,sector_code,round_lot,trading_hours,board_type,industry_name,issue_price,trading_code,purchasedate
3201,600895.XSHG,K70,1,张江高科,Normal,XSHG,Active,CS,0000-00-00,1996-04-22,工业,ZJGK,Industrials,100.0,"09:31-11:30,13:01-15:00",MainBoard,房地产业,6.15,600895,NaN

In [14]:
df.loc[df['symbol'].str.contains('首开股份')]

,order_book_id,industry_code,market_tplus,symbol,special_type,exchange,status,type,de_listed_date,listed_date,sector_code_name,abbrev_symbol,sector_code,round_lot,trading_hours,board_type,industry_name,issue_price,trading_code,purchasedate
2243,600376.XSHG,K70,1,首开股份,Normal,XSHG,Active,CS,0000-00-00,2001-03-12,房地产,SKGF,RealEstate,100.0,"09:31-11:30,13:01-15:00",MainBoard,房地产业,10.4,600376,NaN